page-goods-list {

  ion-segment {border-bottom: 1px solid map-get($colors,borderColor);}
  .goods-list-content { margin-top: 4rem;}
  .segment-button {
    border:0 !important;
    border-bottom: 1px solid map-get($colors,borderColor) !important;
    color: map-get($colors,secondary) !important;
    height: 4rem !important;
    line-height: 4rem !important;
    .icon-sort-des{
        display: inline-block;
        width: 1rem;
        height: 1.2rem;
        background: url("../assets/images/icon_jgnor.png") no-repeat;
        background-size: contain;
        vertical-align: middle;
        margin-left: .5rem;
      }
    .icon-sort-asc  {
        background: url("../assets/images/icon_jgsel.png") no-repeat;
        background-size: contain;
      }
  }
  .segment-button.segment-activated {
    background-color:transparent !important;
    color: map-get($colors,primary) !important;
  }
  .list .card {
    padding:1rem 0;
    margin: 0 0 1rem 0;
    width: auto;
    background-color:#fff;
    box-shadow:none;
    border-top: 1px solid  map-get($colors,borderColor);
    border-bottom: 1px solid  map-get($colors,borderColor);
    &:first-child {
      border-top: 0;
    }
    .item {
      background-color:#fff;
      img { max-width: 7rem; max-height: 7rem;border-radius:0;}
      .item-inner {
        -webkit-align-items:flex-start;
        align-items: flex-start;
      }
      h2 {
        font-size: 1.8rem;
        color: map-get($colors,secondary);
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;;
      }
      p {
        font-size: 1.6rem;
        line-height:3rem;
        color: map-get($colors,primary);

      }
    }
  }
}
