page-buyer-order-list {
  .buyer-order-list { margin-top: 4rem;}
  ion-segment {
    background-color: #fff;
  }
  .segment-button {
    border:0 !important;
    border-bottom: 1px solid map-get($colors,borderColor) !important;
    color: map-get($colors,secondary) !important;
    height: 4rem !important;
    line-height: 4rem !important;
    border-radius: 0 !important;
    .icon-sort-des{
        display: inline-block;
        width: 1rem;
        height: 1.2rem;
        background: url("../assets/images/icon_jgnor.png") no-repeat;
        background-size: contain;
        vertical-align: middle;
        margin-left: .5rem;
      }
    .icon-sort-asc  {
        background: url("../assets/images/icon_jgsel.png") no-repeat;
        background-size: contain;
      }
  }
  .segment-button.segment-activated {
    background-color:transparent !important;
    color: map-get($colors,primary) !important;
    border-bottom:2px solid map-get($colors,primary) !important;
  }
  .order-list {
    padding-bottom: 4rem;
   /* background-color: #fff;
    padding: 0 1rem;
    margin-top: 1rem;*/
    ion-card {
      margin:0;
      margin-top: 1rem;
      padding: 0 1rem;
      width: auto;
      background-color: #fff;
      border: 0;
      box-shadow: none;
      img {
        border-radius:0;
        max-width: 7rem;
        max-height: 7rem;
      }
      h1 {
        font-size: 1.8rem;
        font-weight: 500;
        padding: 1rem 0;
        border-bottom: 1px solid  map_get($colors, borderColor);
      }
      h2 {
        white-space:initial;
        font-size: 1.5rem;
      }

      p {
        text-align: right;
        line-height: 1.8rem;
        margin:0;
        &.price {
          color:  map_get($colors, primary);
          font-size: 1.7rem;
        }
        &.num {
          color:  map_get($colors, dark2);
          font-size: 1.3rem;
        }
      }
      ion-item {
        background-color: #fff;
        padding-left: 0;
      }
      ul {
        li {
          display: -webkit-box;
          background-color:  map_get($colors, dark3);
          margin-bottom: 1rem;
          padding: 1rem;
          dl {
            dd {
              color:  map_get($colors, dark2);
              font-size: 1.3rem;
              line-height: 1.8rem;
            }
          }
          .spec-list, .item {
            -webkit-box-flex: 1;
            width: 50%;
          }
        }
      }
      .total {
        position: relative;
        border-top:1px solid map_get($colors, borderColor);
        display: -webkit-box;
        padding: 1rem;
        ion-icon {
          position: absolute;
          right: 1rem;
          bottom: 0;
          font-size: 4rem;
          z-index: 9;
          color:map_get($colors, dark);
        }
        ion-label {
          color:map_get($colors, secondary);
        }
        p {
          width:100%;
          &.key {
            text-align: left;
            color:map_get($colors, secondary);
            font-size: 1.7rem;
          }
          &.val {
            text-align: right;
            color:map_get($colors, dark);
            font-size: 1.5rem;
            .price-key {
              font-size: 2rem;
              color:map_get($colors, secondary);
            }
            .price-val {
              font-size: 1.8rem;
              color:map_get($colors, primary);
            }
          }
        }
        &.order-item {
          border-top:0;
          border-bottom: 1px solid map_get($colors, borderColor);
          padding: 1rem 0;
          p {
            &.key {
              width: 80%;
              box-flex:2;
            }
            &.val {
              width: 20%;
              box-flex:1;
              color:map_get($colors, primary);
            }
            .sum {
              color:map_get($colors, secondary);
              font-size:1.7rem;
            }
          }
          &.order-item-btm {
            padding-bottom: 0;
          }
        }
      }
    }
    ion-buttons.btn {
      text-align: right;
      button {
        border:1px solid map_get($colors, primary);
        background-color: #fff;
        color: map_get($colors, primary);
        width: 8rem;
        height: 2.8rem;
        &.activated {
          background-color: #fff;
        }
        &.secondary {
          color: map_get($colors, dark);
          border:1px solid map_get($colors, borderColor);
        }
      }
    }
  }
}
