page-buyer-order-detail {
  .buyer-order-list {
    margin-top:4rem;
  }
  ion-segment {
    background-color: #fff;
  }
  .order-list {
    background-color: #fff;
    padding-bottom: 12rem;
   /*
    padding: 0 1rem;
    margin-top: 1rem;*/
    ion-card {
      margin:0;
      margin-top: 1rem;
      padding: 0 1rem;
      width: auto;
      background-color: #fff;
      border: 0;
      box-shadow: none;
      img {
        border-radius:0;
        max-width: 7rem;
        max-height: 7rem;
      }
      h1 {
        font-size: 1.8rem;
        font-weight: 500;
        padding: 1rem 0;
        border-bottom: 1px solid  map_get($colors, borderColor);
      }
      h2 {
        white-space:initial;
        font-size: 1.5rem;
      }

      p {
        text-align: right;
        line-height: 1.8rem;
        margin:0;
        &.price {
          color:  map_get($colors, primary);
          font-size: 1.7rem;
        }
        &.num {
          color:  map_get($colors, dark2);
          font-size: 1.3rem;
        }
      }
      ion-item {
        background-color: #fff;
        padding-left: 0;
      }
      ul {
        li {
          display: -webkit-box;
          background-color:  map_get($colors, dark3);
          margin-bottom: 1rem;
          padding: 1rem;
          dl {
            dd {
              color:  map_get($colors, dark2);
              font-size: 1.3rem;
              line-height: 1.8rem;
            }
          }
          .spec-list, .item {
            -webkit-box-flex: 1;
            width: 50%;
          }
        }
      }
      .total {
        position: relative;
        border-top:1px solid map_get($colors, borderColor);
        display: -webkit-box;
        padding: 1rem;
        ion-icon {
          position: absolute;
          right: 1rem;
          bottom: 0;
          font-size: 4rem;
          z-index: 9;
          color:map_get($colors, dark);
        }
        ion-label {
          color:map_get($colors, secondary);
        }
        p {
          width:100%;
          &.key {
            text-align: left;
            color:map_get($colors, secondary);
            font-size: 1.7rem;
          }
          &.val {
            text-align: right;
            color:map_get($colors, dark);
            font-size: 1.5rem;
            .price-key {
              font-size: 2rem;
              color:map_get($colors, secondary);
            }
            .price-val {
              font-size: 1.8rem;
              color:map_get($colors, primary);
            }
          }
        }
        &.order-item {
          border-top:0;
          border-bottom: 1px solid map_get($colors, borderColor);
          padding: 1rem 0;
          p {
            &.key {
              width: 80%;
              box-flex:2;
            }
            &.val {
              width: 20%;
              box-flex:1;
              color:map_get($colors, primary);
            }
            span {
              color:map_get($colors, secondary);
              font-size:1.7rem;
            }
            &.price {
              color:map_get($colors, primary);
            }

          }
          &.clearBtm {
            border-bottom: 0;
            padding-bottom:0;
          }
          &.clearTop{
            border-top: 0;
            padding-top:0;
          }
        }

      }
      ion-buttons.call-buy-btn {
        button {
          border: 1px solid map_get($colors, borderColor);
          background-color: #fff;
          color:map_get($colors, dark);
          border-radius: 4px;
          em {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            background: url("../assets/images/iconfont_contactseller.png") no-repeat;
            background-size: 100% 100%;
            margin: 0 1rem;
          }
        }
      }
    }
  }

  ion-toolbar.address {
    height:7.41rem;
    border-top: 1px solid map_get($colors, borderColor);
    .toolbar-background {
      border: 0;
      background-color: #fff;
    }
    ion-title {
      padding: 0 40px 1px;
      p {
        text-align: left;
        white-space:initial;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: .5rem;
        font-weight: 500;
        color: map_get($colors, secondary)
      }
    }
    .icon-positioning, .icon-logistics, .icon-desc {
      display: block;
      width: 2rem;
      height: 2rem;
      -webkit-background-size:cover;
      background-size:100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .icon-positioning {
      background-image: url("../assets/images/icon_location.png");
    }
    .icon-logistics {
      background-image: url("../assets/images/icon_car.png");
    }
    .icon-desc {
      background-image: url("../assets/images/icon_sm.png");
    }
  }
  ion-footer {
    p {
      margin: 0;
      padding: 0;
      line-height: 2rem;
    }
    button {
      width: 100%;
      margin: 0 !important;
      border: 1px solid map_get($colors, primary);
      background-color: #fff !important;
      color:map_get($colors, primary) !important;
      border-radius: 4px;
    }
  }
}
